<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clocksy - Fashion Watches Online Store</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="../css/products.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>

    <!-- FIRST NAVBAR --> 

    <nav class="navbar navbar-expand-lg primary-bg-color py-4 px-2" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Clocksy</a>
            <div id="navbar-items">
                <div></div>
                <form class="d-flex" id="search-form">
                    <i class="bi bi-search primary-color"></i>
                    <input class="form-control me-2" type="search" placeholder="Type a keyword..." aria-label="Search">
                    <button class="btn secondary-bg-color" type="submit">
                        Search<!-- Styles -->
                        <link rel="stylesheet" href="../css/products.css">
                    </button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">
                            <i class="bi bi-person"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="wishlist.html">
                            <i class="bi bi-heart"></i>
                        </a>
                    </li>

                    <li class="nav-item" id="bag-item">
                        <a class="nav-link" href="cart.html" >
                            <i class="bi bi-bag"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!-- second navbar -->

<nav class="navbar navbar-expand-lg secondary-bg-color p-2" id="second-navbar-container">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottom-navbar" aria-controls="bottom-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>Menu
        </button>
        <ul class="navbar-nav mb-2 mb-lg-0 collapse navbar-collapse" id="bottom-navbar">
            <li class="nav-item">
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="products.html" class="nav-link">Products</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu p-3 mb-2 bg-dark text-white">
                  <li><a class="dropdown-item" href="smartwatches.html">Smart Watches</a></li>
                  <li><a class="dropdown-item" href="chronograph.html">Chronograph</a></li>
                  <li><a class="dropdown-item" href="mechanical.html">Mechanical</a></li>
                  <li><a class="dropdown-item" href="quarts.html">Quartz</a></li>
                  <li><a class="dropdown-item" href="fitness.html">Fitness Band</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Accessories
                </a>
                <ul class="dropdown-menu p-3 mb-2 bg-dark text-white">
                  <li><a class="dropdown-item" href="strap.html">Strap</a></li>
                  <li><a class="dropdown-item" href="bracelet.html">Bracelets</a></li>
                  <li><a class="dropdown-item" href="straplink.html">Straplinks</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="about.html" class="nav-link">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="sections">
    <div class="section-items border border-light" name="Sale">
        <img src="../img/omegachrono1.jpg" alt="gif">
        omega
        <p>Speedmaster Omega Men Blue</p>
        <i class="bi bi-currency-rupee text-dark">520,400</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/rolexmech1.jpg" alt="watch">
        Rolex
        <p>GMT-MASTER II Oyster,gold</p>
        <i class="bi bi-currency-rupee text-dark">1,344,000</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/radoquarts1.jpg" alt="watch">
        Rado
        <p>True Diamonds Quartz Grey</p>
        <i class="bi bi-currency-rupee text-dark">190,500</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/sfmech1.jpg" alt="watch">
        Seven Friday
        <p>P Series Black Dial</p>
        <i class="bi bi-currency-rupee text-dark">139,500</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/hublotchrono1.jpg" alt="watch">
        Hublot
        <p>Classic Fusion Chronograph</p>
        <i class="bi bi-currency-rupee text-dark">985,800</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
</div>
<div class="sections">
    <div class="section-items border border-light" name="Sale">
        <img src="../img/fitness1.jpg" alt="gif">
        OneplusS
        <p>Space-Black|Fitness Band</p>
        <i class="bi bi-currency-rupee text-dark">4999</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/fossilchrono1.jpg" alt="watch">
        Fossil
        <p>Brox Multifunction|Black SS</p>
        <i class="bi bi-currency-rupee text-dark">13,495</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/smart1.jpg" alt="watch">
        Realme
        <p>realme Smart Watch 2 Pro </p>
        <i class="bi bi-currency-rupee text-dark">5499</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/tissotquarts1.jpg" alt="watch">
        Tissot
        <p>T-Classic PRX Green</p>
        <i class="bi bi-currency-rupee text-dark">39,000</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="section-items border border-light">
        <img src="../img/omegamech1.jpg" alt="watch">
        Omega
        <p>Seamaster Omega Men Blue</p>
        <i class="bi bi-currency-rupee text-dark">924,000</i>
        <a class="btn btn-dark text-white" href="#" role="button">buy</a>
        <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
    </div>
    <div class="sections">
        <div class="section-items border border-light" name="Sale">
            <img src="../img/fitness2.jpg" alt="gif">
            FitBit
            <p>Smart Band M4</p>
            <i class="bi bi-currency-rupee text-dark">3999</i>
            <a class="btn btn-dark text-white" href="#" role="button">buy</a>
            <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
        </div>
        <div class="section-items border border-light">
            <img src="../img/axquarts1.jpg" alt="watch">
            Armani Exchange
            <p>Fitz-Black|Quartz</p>
            <i class="bi bi-currency-rupee text-dark">13,495</i>
            <a class="btn btn-dark text-white" href="#" role="button">buy</a>
            <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
        </div>
        <div class="section-items border border-light">
            <img src="../img/smart5.jpg" alt="watch">
            Fireboltt
            <p>Ninja Call Pro Plus 1.83"</p>
            <i class="bi bi-currency-rupee text-dark">4199</i>
            <a class="btn btn-dark text-white" href="#" role="button">buy</a>
            <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
        </div>
        <div class="section-items border border-light">
            <img src="../img/casioquarts1.jpg" alt="watch">
            Casio
            <p>Enticer Brown Leather</p>
            <i class="bi bi-currency-rupee text-dark">5,795</i>
            <a class="btn btn-dark text-white" href="#" role="button">buy</a>
            <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
        </div>
        <div class="section-items">
            <img src="../img/smart7.jpg" alt="watch">
            Google
            <p>Pixel Watch-Android</p>
            <i class="bi bi-currency-rupee text-dark">47,599</i>
            <a class="btn btn-dark text-white" href="#" role="button">buy</a>
            <a class="btn btn-dark text-white" href="#" role="button"><i class="bi bi-heart"></i></a>
        </div>
    </div>
<!-- FOOTER -->
<footer id="footer bg-secondary">
    <div class="container-fluid" id="footer-links-container">
        <div class="row">
            <div class="col-12 col-md-4 footer-column">
                <h3>Quick Access</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Home</a></li>
                    <li class="mb-2"><a href="#">Categories</a></li>
                    <li class="mb-2"><a href="#">Log-Out</a></li>
                    <li class="mb-2"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 footer-column" id="footer-center">
                <h3>Phone Contact</h3>
                <p class="phone-contact">Any questions? Here's our phone number:</p>
                <p class="store-phone phone-contact"><i class="bi bi-telephone">+12 123 456 7890</i></p>
                <p class="secondary-collor">Subscribe to our Newsletter:</p>
                <form class="d-flex" id="newsletter-form">
                    <input type="email" class="form-control me-2" placeholder="Email">
                    <button class="btn btn-dark" type="submit">Subscribe</button>
                </form>
            </div>
            <div class="col-12 col-md-4 footer-column">
                <h3>Info</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Privacy Policy</a></li>
                    <li class="mb-2"><a href="#">Delivery Policy</a></li>
                    <li class="mb-2"><a href="#">Track Your Product</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="col-12" id="social-container">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-twitter"></i>
        </div>
    </div>
    <div class="container" id="copyright-container">
        <p>All rights reserved @2022 <span class="primary-color">Clocksy</span>
        &#8226; Your luxury watches online store
        </p>
    </div>
</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>